.line{
    color: rgb(255, 69, 0);
}
.name{
    color:rgba(0, 0, 0, 0.555)
}
.name1{
    color: rgb(255, 69, 0);
}
.texts{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* .time{
    animation-duration: 4s;
    transition: width 2s, height 2s, transform 2s;
} */